@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these custom styles */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white;
}

/* Style for HTML content from API */
.prose-custom p {
  @apply mb-4 last:mb-0;
}

/* Add custom line height for better readability */
.leading-relaxed {
  line-height: 1.8;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
}
